// LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904E3"
        BEGIN
            VALUE "FileDescription", "DirectoryHotList Plugin Module\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "DirHotList.dll\0"
            VALUE "LegalCopyright", "© Andrew V. Andreenkov\0"
            VALUE "OriginalFilename", "DirHotList.dll\0"
            VALUE "ProductName", "DirHotList Plugin\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1251
    END
END
